auto-save-list/
elpa/
eshell/
quelpa/
straight/
pandoc-mode/
server/
snippets/
transient/
url/
hunspell/
.slime/
elpy/
org-persist/
abbrev_files/

*.desktop
*.desktop.lock
*.pandoc
*.bak
*.dat
*.reg
*.db
session*
.org*

*~
#*

history
places
nov-places
bookmarks
myinit.usepackage.el
myinit.straight.el
myinit.el
recentf
network-security.data
custom-vars.el
abbrev_defs
 


/speed-type/
*.org_archive
/elfeed/
/.elfeed/
/prot-eww-visited-history
/image-dired/
/.cache/
